<!-- app/views/home/index.html.erb -->
<h1>Weather Forecast</h1>

<%= form_with url: root_path, method: :get, local: true do %>
  <div>
    <%= label_tag :address, "Enter Address" %><br>
    <%= text_field_tag :address, params[:address], placeholder: "e.g. 1600 Amphitheatre Pkwy, CA" %>
  </div>
  <br>
  <div>
    <%= submit_tag "Get Forecast" %>
    <%= button_to "Reset", root_path, method: :get, form_class: "inline", class: "btn btn-secondary" %>
  </div>
<% end %>

<% if @forecast %>
  <hr>
  <h3>Forecast for <%= @forecast.city %></h3>
  <p><strong>Current Temp:</strong> <%= @forecast.temperature %></p>
  <p><strong>Description:</strong> <%= @forecast.description %></p>
  <% if @from_cache %>
    <p style="color: green;"><em>Result served from cache</em></p>
  <% end %>
<% elsif flash[:alert] %>
  <p style="color: red;"><%= flash[:alert] %></p>
<% end %>
